
<div id="container" #container>
  <div
    class="card initial-card"
    (drop)="onDrop($event)"
    (dragover)="allowDrop($event)"
  >
  </div>

  <div
    *ngIf="minimized"
    class="card deckSummary"
    draggable="true"
    (dragstart)="onDragDeck($event)"
    (drop)="onDrop($event, dropData)"
    (dragover)="allowDrop($event)"
    (dragend)="removeDeck($event)"
  >
    Event: Pile {{ deckNumber }}
    Competitors: {{ cards.length }}
  </div>

  <div
    class="card minimizable"
    *ngFor="let card of cards; let i = index"
    (click)="moveToTop($event, i)"
    [style.top]="minimized ? 0 : calculateCardPosition(i)"
    [style.left]="minimized ? 0 : calculateCardPosition(i)"
    draggable="true"
    (dragstart)="onDragCard($event, i)"
    (drop)="onDrop($event, dropData)"
    (dragover)="allowDrop($event)"
    (dragend)="removeCard($event, i)"
  >
      {{ card }}
    </div>
</div>
<button type="button" (click)="toggleMinimization()"> {{ this.minimized ? 'Maximize' : 'Minimize' }}</button>
<input type="number" name="amount" (change)="changeAmount($event)" />