.card {
    background-color: mediumseagreen;
    width: 10vw;
    height: 20vh;
    border: 2px solid black;
    position: absolute;
}

.initial-card {
    background-color: gainsboro;
}

#container {
    position: relative;
    height: 200px;
    width: 200px;
}

input {
    position: relative;
    top: 30vh;
}

.deckSummary {
    z-index: 1;
    font-size: 90%;
    text-align: center;
}

.deckSummary div {
    margin-top: 37%;
}

.minimizationControls {
    position: absolute;
    top: 0%;
    left: calc(82% + 0.6vw);
    z-index: 1;
}